.showPopup {
            opacity: 1 !important;
            pointer-events: all !important;
        }
        
        .show {
            opacity: 1 !important;
            pointer-events: all !important;
        }
        
        .showPopupCart {
            opacity: 1 !important;
            pointer-events: all !important;
        }
        
        .bg-linear-to-b {
            background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
        }
